name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          check-latest: true
          package-manager-cache: false

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: |
            - recursive: false
              args: [--no-frozen-lockfile]

      - uses: oven-sh/setup-bun@v2

      - name: lint
        run: bun run --bun lint

      - name: build
        run: bun run --bun build

      - name: package
        run: bun run --bun package

      - name: test
        run: bun run --vitest test

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          milliseconds: 1000
